html {
    box-sizing: border-box;
    font-size: calc(10px + 10.45 * (100vw - 25px) / 392);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    background-color: #323232;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #fff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------------------------*/

.order-block {
    padding: 30px;
    width: 100%;
    max-height: 535px;
    border-radius: 24px;
    background-color: #292929;
    overflow: hidden;
}

.order-block__content {
    display: block;
    padding-top: 30px;
    border-top: 1px solid #fff;
}

.switch-btns {
    padding-bottom: 25px;
}

.switch-btns__group {
    display: inline-block;
}

.switch-btns__btn {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: gray;
    outline: none;
    cursor: pointer;
    transition: color 0.15s;
}

.switch-btns__btn.active {
    color: #FF576A;
    cursor: auto;
}

.switch-btns__btn:first-child {
    margin-right: 30px;
}

.switch-btns__btn:not(.active):hover {
    color: #939393;
}

.list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 45px;
    height: 45px;
    background-color: #515151;
    border-radius: 12px;
}

.list-header,
.order-list {
    padding-left: 30px;
}

.order-list {
    display: none;
    overflow-y: scroll;
    max-height: 330px;
}

.order-list.active {
    display: block;
}

.list-header__item:not(:last-child),
.order-list__col:not(:last-child) {
    /*width: 170px;*/
    width: 3rem;
}

.order-list__item {
    display: flex;
    align-items: center;
    height: 67px;
    margin-right: 50px;
    padding-right: 50px;
}

.order-list__item:not(:last-child) {
    border-bottom: 1px solid #FFFFFF7F;
}

.order-list__col, .list-header__item {
    white-space: nowrap;
}

.order-list__options {
    display: flex;
}

.order-list__col--done {
    color: #40B052;
}

.order-list__col--error {
    color: red;
}

.order-list__order-text {
    display: none;
}

/*scroll*/
:root {
    --color-scroll-line: gray;
    --color-slider: #fff;
}

.order-list::-webkit-scrollbar {
    width: 4px;               /* ширина всей полосы прокрутки */
}



.order-list::-webkit-scrollbar-track {
    background: var(--color-scroll-line);        /* цвет зоны отслеживания */
}

.order-list::-webkit-scrollbar-thumb {
    background-color: var(--color-slider);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 1px solid var(--color-scroll-line);  /* отступ вокруг бегунка */
}

/* Работает в Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scroll-line) var(--color-slider);
}
/*scroll end*/

@media (max-width: 760px) {
    .order-list__item {
        height: 55px;
    }

    .order-list__order-text {
        display: none;
    }
}

@media (max-width: 730px) {
    .list-header__item:not(:last-child),
    .order-list__col:not(:last-child) {
        width: 4rem;
    }
}

@media (max-width: 640px) {
    .order-block {
        padding: 0;
        background-color: transparent;
        max-height: none;
    }

    .order-block__content {
        width: 100%;
    }

    .switch-btns {
        margin-bottom: 30px;
        padding-bottom: 0;
    }

    .switch-btns__btn {
        padding: 0 20px;
        height: 45px;
        border-radius: 50px;
        border: 1px solid #FF576A;
        font-size: 16px;
        color: #fff;
        cursor: auto;
    }

    .switch-btns__btn.active {
        background-color: #fff;
        border: 1px solid #fff;
        color: #202020;
    }

    .switch-btns__btn:not(.active):hover {
        color: #fff;
    }

    .switch-btns__btn:first-child {
        margin-right: 15px;
    }

    .order-list {
        overflow: visible;
    }

    .order-list__item {
        margin-right: 0;
    }

    .order-list__item:not(:last-child) {
        border-bottom: 0;
    }

    .order-block__content {
        padding-top: 0;
        border-top: none;
    }

    .list-header__item:not(:last-child),
    .order-list__col:not(:last-child) {
        width: 5rem;
    }
}

@media (max-width: 575px) {
    .list-header {
        padding: 0 20px;
    }

    .order-list {
        padding: 0;
        max-height: none;
    }

    .order-list__item {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 100%;
        padding: 35px 20px;
        color: #fff;
        background: #1d1d1b;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 24px;
    }

    .order-list__item:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: #252525;
        box-shadow: inset 0 0 10px hsl(0deg 0% 100% / 50%);
    }

    .order-list__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .order-list__options {
        width: 100%;
        justify-content: space-between;
    }

    .order-list__order-text {
        display: block;
    }

    .order-list__col--flex {
        display: flex;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .list-header {
        justify-content: space-between;
    }

    .list-header__item--hidden {
        display: none;
    }


    .list-header__item:not(:last-child),
    .order-list__col:not(:last-child) {
        width: auto;
    }
	
	.profile-wrap-component_wrap__WGecX{padding-top: 50px;}

}